DEBUG_MODE=True

APPLICATION_HOST=127.0.0.1
APPLICATION_PORT=3000

VIMEO_CLIENT_ID=YOUR_VIMEO_CLIENT_ID
VIMEO_CLIENT_SECRET=YOUR_VIMEO_CLIENT_SECRET
VIMEO_ACCESS_TOKEN=YOUR_VIMEO_ACCESS_TOKEN

WISTIA_API_TOKEN=YOUR_WISTIA_API_TOKEN

SURVEY_MONKEY_REDIRECT_URI=http://localhost:3000
SURVEY_MONKEY_CLIENT_ID=YOUR_SURVEY_MONKEY_CLIENT_ID
SURVEY_MONKEY_CLIENT_SECRET=YOUR_SURVEY_MONKEY_CLIENT_SECRET
SURVEY_MONKEY_ACCESS_TOKEN=YOUR_SURVE_MONKEY_ACCESS_TOKEN